.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgb(248, 248, 248);
    line-height: 3.5rem;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
    align-items: stretch;
}

.logo {
    max-height: 3.5rem;
}

.sidebar-header {
    flex: 0 0 14rem; /*flex : flex-grow flex-shrink flex-basis */
}

.body-header {
    background-color: #ffffff;
    width: calc(100% - 14rem);
    /* background-color: rgb(240, 240, 240); */
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.125);
}

.search-area {
    background-color: #dcdcdc;
    padding: 0.3rem 0.6rem;
    border-radius: 2rem;
}

.search-input {
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
    margin: 0 0.6rem;
}

.header-notification {
    position: absolute;
    left: 0;
    margin-top: 0.2rem;
    width: 16rem;
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.08);
    display: none;
}

.notification-img {
    width: 3rem;
    border-radius: 0.1rem;
}

.notification-user {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 0.3rem;
}

.notification-text {
    font-size: 0.7rem;
    line-height: 0.7rem;
}

.notification-time {
    font-size: 0.6rem;
    line-height: 0.6rem;
}

.header-comment {
    position: absolute;
    height: calc(100vh - 3.5rem);
    width: 18rem;
    left: 40px;
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 1px 20px 0 rgba(70, 90, 100, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    display: none;
}

.header-comment-wrapper {
    height: calc(100% - 6rem);
    overflow: auto;
}

.header-comment-wrapper::-webkit-scrollbar {
    display: none;
}

.comment-user {
    font-size: 0.75rem;
    font-weight: bold;
}

.header-avatar {
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    margin: 0.2rem;
}

.header-username {
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
}

.header-profile {
    position: absolute;
    margin-top: 0.2rem;
    left: 1rem;
    z-index: 1000;
    height: auto;
    width: 13rem;
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.125);
    display: none;
}

.header-profile-link {
    padding: 0.4rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
    transition: all 0.4s ease;
}

.header-profile-link:hover {
    transform: scale(1.01);
}

.header-profile-link > i {
    width: 2rem;
    text-align: center;
}

@media only screen and (max-width: 767.98px) {
    .header {
        display: block;
    }

    .sidebar-header {
        width: 100%;
    }

    .body-header {
        display: none;
        width: 100%;
    }
}

.body-container {
    margin-top: 3.5rem;
    z-index: 100000;
    display: flex;
}

.sidebar {
    background-color: #404e67;
    color: #dcdcdc;
    flex: 0 0 14rem;
}

.sidebar-container {
    height: calc(100vh - 3.5rem);
    /* position: fixed; */
    right: 0;
    top: 3.5rem;
    z-index: 10000;
}

.sidebar-wrapper {
    padding: 1rem 0;
    overflow: auto;
    height: 100vh;
}

.sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

.sidebar-part-title {
    font-size: 0.9rem;
    padding: 0 1rem;
    margin-top: 1rem;
    color: #999999;
}

.sidebar-link {
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 0.4rem 1rem;
    display: block;
    text-decoration: none;
    outline: none;
    border: none;
    color: #dcdcdc;
    transition: all 0.3s;
}

.sidebar-link:hover {
    text-decoration: none;
    color: #fe8a7d;
}

.sidebar-link > i {
    width: 2rem;
    text-align: center;
}

.sidebar-group-link {
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 0.4rem 0;
    color: #dcdcdc;
}

.sidebar-group-link-active {
    border-right: 3px solid #fe8a7d;
}

.sidebar-group-link > .sidebar-dropdown {
    display: none;
    height: 0;
}

.sidebar-group-link-active > .sidebar-dropdown {
    display: block !important;
    height: auto !important;
}

.sidebar-dropdown-toggle {
    cursor: pointer;
    padding: 0.2rem 1rem;
    transition: all 0.3s;
}

.sidebar-dropdown-toggle:hover span {
    color: #f7f7f7;
}

.sidebar-dropdown-toggle .icon {
    width: 2rem;
    text-align: center;
}

.sidebar-dropdown-toggle .angle {
    float: left;
    padding: 0.3rem 0;
}

.sidebar-dropdown a,
button {
    display: block;
    padding: 0.2rem 1rem;
    text-decoration: none;
    background-color: inherit;
    outline: none;
    border: none;
    color: #dcdcdc;
    transition: all 0.3s;
}

.sidebar-dropdown a::before,
button::before {
    content: "»";
    margin: 0.8rem;
}

.sidebar-dropdown a:hover,
button:hover {
    color: #fe8a7d;
}

/* main body styles */
.main-body {
    width: calc(100% - 14rem);
    padding: 1rem;
    /*min-height: calc(100vh - 3.5rem);*/
    background-color: #f3f3f3;
    min-height: 120vh;
}

.main-body-index {
    width: 100vw;
    padding: 1rem;
    background-color: #F3F3F3;
    min-height: 120vh;
}

.bg-custom-orange {
    background: -webkit-gradient(linear, left top, right top, from(#feb798), to(#fe9365));
    background: linear-gradient(to right, #feb798, #fe9365);
}

.bg-custom-green {
    background: -webkit-gradient(linear, left top, right top, from(#0df3a3), to(#0ac282));
    background: linear-gradient(to right, #0df3a3, #0ac282);
}

.bg-custom-pink {
    background: -webkit-gradient(linear, left top, right top, from(#fe909d), to(#fe5e78));
    background: linear-gradient(to right, #fe909d, #fe5e78);
}

.bg-custom-blue {
    background: -webkit-gradient(linear, left top, right top, from(#01dbdf), to(#01a9ac));
    background: linear-gradient(to right, #01dbdf, #01a9ac);
}


/* responsive */
@media only screen and (max-width: 767.98px) {
    .sidebar {
        display: none;
        height: calc(100% - 3.5rem);
        width: 320px;
        z-index: 9;
        position: fixed;
        top: 3.5rem;
        right: 0;
    }

    .sidebar-container {
        position: relative;
        width: 320px;
        height: 100%;
        top: 0;
    }

    .main-body {
        width: 100%;
        z-index: 1;
    }

}

/* end responsive */

.info-box-body h5 {
    font-size: 0.9rem;
    line-height: 1rem;
}

.info-box-body p {
    line-height: 1rem;
    font-size: 0.7rem;
}

.info-box-icon i {
    font-size: 2rem;
}

.info-box-footer {
    font-size: 0.6rem;
}

.main-body-container {
    background-color: #ffffff;
    margin: 1rem 0;
    border-radius: 0.25rem;
    padding: 1rem;
}

.main-body-container-header h5 {
    font-size: 1rem;
    font-weight: bold;
}

.main-body-header p {
    font-size: 0.8rem;
    color: #777;
}

.main-body-content p {
    font-size: 1rem;
    font-family: 'yekan' !important;
}

.page-detail {
    padding: 1rem;
}

.admin-logged-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.user_img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.post-img {
    width: 5rem;
    height: 5rem;
}

.form-box .row {
    margin: 2rem;
}

.form-box input[type="text"] {
    width: 30vw;
}

.form-box input {
    padding: 0.5rem 0.875rem;
}

.lbl_title {
    font-weight: 600;
    display: block;
}

thead tr th {
    font-size: 12px;
    font-weight: bold;
}

tbody td {
    font-size: 12px;
}

.btn-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.btn-box a {
    font-size: 12px;
    font-weight: 600;
}

.error {
    color: #ff0000;
    text-align: center !important;
}

.my-form .row input {
    border: 1px solid #cdcdcd;
    width: 30vw;
    padding: 8px 10px;
}


@media screen and (max-width: 600px) {
    .my-form {
        display: flex;
        flex-direction: column;
        /*overflow-x: hidden;*/
    }

    .my-alert{
        margin: 0 auto;
    }

    .my-form * {
        font-size: 10px !important;
    }

    .my-form label{
        display: none;
    }

    .my-form .row {
        display: flex;
        flex-direction: column !important;
    }

    .my-form .row section input{
        width: calc(100% - 100px);
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .my-form select{
        width: 50% !important;
    }
}