@font-face {
    font-family: 'iran-sans';
    src: url('../fonts/iran-sans/IRANSansWeb.eot') format('eot'),url('../fonts/iran-sans/IRANSansWeb.ttf') format('ttf'),url('../fonts/iran-sans/IRANSansWeb.woff') format('woff'),url('../fonts/iran-sans/IRANSansWeb.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'yekan';
    src: url('../fonts/Yekan/Yekan.eot') format('eot'),url('../fonts/Yekan/Yekan.svg') format('svg'),url('../fonts/Yekan/Yekan.ttf') format('ttf'),url('../fonts/Yekan/Yekan.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

*{
    direction: rtl;
    text-align: right;
    font-family: 'iran-sans';
}

.bg-gray{
    background-color: #404e67;
    color: #dcdcdc;
}

.pointer{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #cdcdcd;
}

a:hover{
    color: #FFFFFF !important;
    text-decoration: none;
}

li{
    list-style: none;
}